.navbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
  color: $text-color;
  padding: 20px;
  align-items: center;

  &-logo{

    color: rgb(8, 146, 211);
    background-color: $primary-color;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;

  }

  &-links {
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
  }

  &-span{
    color: $thirdy-color;
  }
}
